body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
 
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  /* I added this because it looked better */
  height: 96%;
  width: 100%;;
}
.taskDiv {
 
  align-items: center;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black; 
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: left;
  color:black;

}
.container p {

  height: 100%;
  padding-top: 10px;
  margin:0px;
  font-weight: bold;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;

}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 2%;
  text-align: right;

}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
}

 .saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;

} 

.container {
  
  min-height: 810px;
  padding-bottom: 5%;
  
}

.footer {
  border-top: 1px solid black;
  z-index: 10;
  background: white;
  width: 100%;
  height: 30px;

  /* The lines below are if I add back my Name in the footer */
  /* color: white; */
  /* display:flex; */
  /* justify-content: center; */
  /* align-items: bottom; */
  /* font-size:1.0vw; */

} 
